@keyframes infiniteText{
    0% {
        transform: translate3d(100vw, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

[data-animation] {
    opacity: 0;
    transition: 0.5s;
}

[data-animation="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-animation="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-animation="top"] {
    transform: translate3d(0, -50px, 0);
}

[data-animation="bottom"] {
    transform: translate3d(0, 50px, 0);
}

[data-animation].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}