.cabecalho{
    & nav{
        & input{
            display: none;
            &:checked ~ label .hamburguer{
                transform: rotate(45deg);
            }
            &:checked ~ label .hamburguer::before{
                transform: rotate(90deg);
                top: 0;
            }
            &:checked ~ label .hamburguer::after{
                transform: rotate(90deg);
                bottom: 0;
            }
        }
        & label{
            display: flex;
            flex-direction: column;
            & .menu{
                display: none;
                width: 60px;
                height: 60px;
                & .hamburguer{
                    background-color: var(--preto);
                    position: relative;
                    display: block;
                    width: 30px;
                    height: 2px;
                    top: 30px;
                    left: 15px;
                    transition: 0.5s ease-in-out;
                    &::before,
                    &::after{
                        background-color: var(--preto);
                        content: "";
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        transition: 0.2s ease-in-out;
                    }
                    &::before{
                        top: -10px;
                    }
                    &::after{
                        bottom: -10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px){
    @keyframes right-to-left {
        0% {
            -webkit-transform: translate3d(100vw, 0, 0);
        }
        100% {
            -webkit-transform: translate3d(0, 0, 0);
        }
    }

    @keyframes left-to-right{
        0%{
            -webkit-transform: translate3d(0, 0, 0);
            opacity: 100;
        }
        100%{
            -webkit-transform: translate3d(100vw, 0, 0);
        }
    }

    .cabecalho{
        & nav{
            & input:checked ~ ul{
                opacity: 100;
                animation: right-to-left 0.5s ease-in;
            }
            & input:not(:checked) ~ ul{
                animation: left-to-right 0.5s ease-in;
            }
            & label{
                & .menu{
                    position: absolute;
                    top: 2vh;
                    right: clamp(20px, 4vw, 69px);
                    display: block;
                }
            }
            & ul{
                z-index: 1;
                padding: 20px;
                opacity: 0;
                display: flex;
                justify-content: space-evenly;
                top: 12vh;
                position: absolute; 
                right: 0; 
                background-color: var(--preto);
                width: 100vw;
                transition: all ease 0.2s;
            }
        }
    }
}