*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--branco);
    font-family: 'Bebas Neue', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    pointer-events: none;
}