@media(max-width:1024px){
    html{
        font-size: 80%;
    }

    .secao-inicial,
    .secao-de-servicos,
    .secao-de-registro{
        & img,
        & .divisao-imagem{
            display: none;
        }
    }

    main,
    .secao-de-servicos{
        background-image: none;
    }
    
    main{
        & .cabecalho{
            & nav{
                & ul{
                    & li{
                        &::before{
                            height: 16%;
                            box-shadow: 0px 2px var(--vermelho-padrao);
                        }
                        &:last-child::before{
                            width: 100%;
                        }
                        & .btn{
                            padding: 0;
                            clip-path: none;
                            background-color: transparent;
                            transition: all 0s;
                            &:hover{
                                opacity: 100;
                            }
                        }
                    }
                }
            }
        }
        & .secao-inicial{
            height: 73.75vh;
            align-items: center;
            justify-content: center;
            & .area-de-introducao{
                margin-top: 7.5vh;
                align-items: center;
                justify-content: center;
                text-align: center;
                gap: 20px;
                & h1{
                    margin-bottom: 0;
                    line-height: 7rem;
                    white-space: normal;
                }
                & p{
                    padding: 0 1rem;
                    margin-bottom: 5px;
                }
                & .btn{
                    margin-top: 12px;
                    clip-path: none;
                    border-radius: 1rem 10rem / 12rem 10rem;
                }
            }
        }
    }

    & .secao-de-equipamentos{
        min-height: 80vh;
        gap: 20px;
        & .text-area{
            & h1{
                text-align: center;
            }
        }
        & .area-de-diferenciais{
            gap: 10px;
            & article{
                & .btn{
                    height: 66px;
                }
            }
        }
    }

    & .secao-de-precos{
        & h1{
            text-align: center;
            margin-bottom: 10px;
        }
        & .area-de-planos{
            & article:nth-child(2){
                order: 1;
                & .area-recomendado{
                    & p{
                        font-size: 15px;
                    }
                }
            }
        }
    }

    & .secao-de-servicos{
        & .informacoes-gerais{
            text-align: center;
            & .introducao{
                display: flex;
                flex-direction: column;
                gap: 35px;
                & h1{
                    margin-top: 20px;
                    line-height: 70px;
                    & span{
                        display: block;
                    }
                }
                & p{
                    padding: 0 7%;
                }
           }
            & .dados{
                width: 100%;
                justify-content: center;
                flex-wrap: wrap;
                & article{
                    & h2{
                        width: 100%;
                    }
                    & p{
                        text-align: center;
                    }
                    &:nth-child(3){
                        & p{
                            width: 110%;
                        }
                    }
                }
            }
        }
    }

    & .secao-de-registro{
        justify-content: center;
        & .area-do-formulario{
            text-align: center;
            gap: 10px;
            & .formulario{
                & div{
                    & input{
                        margin: auto 20px 20px 20px;
                    }
                }
                & input{
                    margin: 0;
                    &#submit{
                        margin: auto;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

@media(max-width:747px){
    .secao-de-precos .area-de-planos article:nth-child(2){
        order: 0;
    }
}

@media(max-width:425px){
    html{
        font-size: 62.5%;
    }

    & .secao-de-precos{
        & .area-de-planos{
            & article{
                width: 280px;
            }
        }
    }

    main{
        & .secao-inicial{
            & .area-de-introducao{
                & h1{
                    font-size: 6rem;
                    & span{
                        font-size: 4rem;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    h1 *{
        line-height: 7rem;
    }

    .secao-de-servicos{
        & .informacoes-gerais{
            & .introducao{
                gap: 20px;
            }
            & .dados{
                & article{
                    &:nth-child(3){
                        & p{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}