:root{
    --vermelho-claro-medio: #FF3838;
    --vermelho-claro: #FF0202;
    --vermelho-padrao: #A03333;
    --branco: #FFFFFF;
    --cinza: #B4B4B4;
    --cinza-escuro: #787878;
    --preto: #222222;
}